body {
  background-image: url(foto/pexels-photo-196667.jpeg);
  background-position: center center;
  padding: 50%;
  background-color: rgba(14, 60, 2, 0.5);
  background-size: 300px 300px;
  background-repeat: no-repeat;
}
img {
  opacity: 0.5;
}
