body {
  margin: 0;
  padding: 0;
  background: #fffcf9;
}
.blokas {
  position: absolute;
  width: 1224px;
  height: 485px;
  left: 108px;
  top: 162px;

  background: #ffeee2;
  border-radius: 25px;
}

.bt {
  flex-direction: row;
  align-items: center;
  padding: 8px 32px;
  gap: 10px;

  margin: 0 auto;
  width: 127px;
  height: 44px;

  background: #ff6978;
  border-radius: 14px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
