.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex > p {
  width: 150px;
  overflow: hidden;
}

@media (max-widht: 320px) {
  .flex {
    flex-direction: column;
  }
}
